#elem {
  background-image: url(https://relax-fm.ru/proxy/vardata/modules/news/files/1/253/news_file_253_5d30b6388af21.jpg?w=1020&h=680&t=1563473038);
  height: 300px;
  width: 400px;
  border: 5px solid black;
}
